.row{margin:0 auto !important;
    padding:0px !important;}
section {
    background:url(./images/featured-img-1.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;

}
.second-header{
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.596);
    padding: 0 50px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    top: 32px;
    z-index: 1000;
}
.second-header img {
    float: left;
    margin: 8px 0 8px 0;
}

nav {
    position: relative;
    float: right;
    font-size: 15px;
    font-weight: 700;
    font-family: 'fallingsky', sans-serif;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;

}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px 10px; 
    
}
nav ul li ul {
    border-top: 2px solid red;
    display: block;
    background: rgba(0, 0, 0, 0.788);
    min-width:250px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    transform:  translateY(40px);
}

nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform:  translateY(0px);
}
nav ul li ul li a  {
    padding:10px ;
    font-weight: bold;
    border-bottom: 1px dashed red;
    color: white;   
}

nav ul li a:hover {
    /* background: #184771; */
    color: red;
    text-decoration: none;
}
.manu-toggle{
    float: right;
    line-height: 80px;
    font-size: 24px;
    display: none;
    color :red;
}

/* @media(max-width:1000px) {
    .second-header {
        position: absolute;
        top: 100px;
    }
} */

@media(max-width:991px){
    .second-header {
        padding: 0 0px;
       /* position: absolute;
       top: 100px; */
    }
    .manu-toggle {
        display: block;
        /* position: relative;
        left: -44%; */
    }
    .second-header nav {

        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 80px;
        left: -100%;
        transition: 0.5s;
    }
    .second-header nav.active {
        left: 0;
    }
    .second-header nav ul {
        display: block;
        text-align: center;

    }
    .second-header nav ul li a{
        border-bottom: 1px solid black;
    }
}