@charset "utf-8";
/* CSS Document */
h1, h2, h3, h4, h5, h6 {
    font-family: 'fallingsky', sans-serif !important;
}
.page-title {
    background-size: cover;
    background-position: center center;
    height: 121px;
}

.page-title h1 {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-top: 38px;
    font-family: 'Poppins', sans-serif;
}

.page-info {
    position: relative;
    color: #272727;
    border-bottom: 1px solid #eeeeee;
}

.page-info .bread-crumb {
    position: relative;
    font-size: 14px;
    padding: 13px 0px 4px;
}

.page-info .bread-crumb li {
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin-right: 24px;
    color: #848484;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
   font-family: 'Poppins', sans-serif;
}

.page-info .bread-crumb li:last-child {
    margin-right: 0px;
}

.page-info .bread-crumb li a {
    text-decoration: none;
        color: #222252;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.page-info .bread-crumb li:after {
    content: '\f0da';
    font-family: 'FontAwesome';
    position: absolute;
    right: -21px;
    width: 10px;
    line-height: 24px;
    font-size: 16px;
    color: #848484;
}

.page-info .bread-crumb li a:hover {
        color: #f11b25;
}

.page-info .bread-crumb li.current {
        color: #f11b25;
}


.main-table1 {
    margin-top: 20px;
    margin-bottom: 20px;
}


.main-table1 h4 {
    background: #373737;
    padding: 8px;
    color: #fff;
    margin: 0;
    font-size: 15px !important;
    padding-left: 13px;
    font-family: 'Poppins', sans-serif;
}

.table-heading {
    background: #0d95dc !important;
    border: none;
    border-bottom: 5px solid #0d95dc;
    color: #fff;
    padding: 11px 0 7px 0;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-top: none !important;
}

.table-heading3 {
    background: #0d95dc !important;
    border: none;
    border-bottom: 5px solid #0d95dc;
    color: #fff;
    padding: 11px 0 7px 0;
    font-weight: 600;
    font-size: 14px;
  font-family: 'Poppins', sans-serif;
    border-top: none !important;
      padding-left: 150px !important;
}

.main-table ul li {
    list-style: none;
    margin-left: -36px;
    margin-top: 12px;
}



.basic-border2 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f7f7f7;
    font-size: 15px;
    border-left: 1px solid #ccc;
    cursor: default !important;
    border-right: 1px solid #ccc;
}
.basic-border2 h3 {
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.main-table{
    margin-top: 9px;
}


.main-table p{
    font-size: 14px;
   font-family: 'Poppins', sans-serif;
    color: #585858;
    font-weight: 400;
    line-height: 28px;
    text-align: justify;
}

.inner-text p {
    margin-top: 39px;
    font-family: 'Poppins', sans-serif;
    color: #585858;
    font-weight: 400;
    line-height: 44px;
    text-align: justify;
    font-size: 17px;
}

.know-more {
    display: inline-block;
    padding-right: 24px;
    position: relative;
    z-index: 2;
    font-family: 'fallingsky', sans-serif;
    font-size: 17px;
    color: #f33e47;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.know-more:hover {
    text-decoration: none;
    color: #645847;
    transition: 0.5s;
}
.inner-text h3 {
    margin-top: 28px;
    font-family: 'Poppins', sans-serif !important;
    color: #f11b25;
    font-weight: 600;
    font-size: 39px;
    text-transform: uppercase;
}
.inner-text h4 {
    margin-top: 13px;
    font-family: 'Poppins', sans-serif !important;
    color: #757474;
    font-weight: 500;
    font-size: 17px;
}

.inner-text span {
    font-family: 'Poppins', sans-serif !important;
   color: #f11b25;
    font-weight: 600;
      font-size: 24px;
}

.inner-img img{
  float: right;
}


.about-text1 {
    margin-bottom: 0px;
}
.about-text {
    margin-bottom: 43px;
}
.sec-title5 h2 {
    position: relative;
    color: #232527;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #dedbdb;
    font-family: 'Poppins', sans-serif;
}

.sec-title5 h2:before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 146px;
    height: 2px;
       background-color: #f11b25;
}

.sec-title5 p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 9px;
    color: #4a4949;
    text-align: justify;
}

.sec-title5 h4 {
    font-size: 15px;
    line-height: 17px;
    margin-top: 15px;
    margin-bottom: 9px;
    color: #131313;
    text-align: justify;
    font-weight: normal;
}
.sec-title5  ul li{ font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 9px;
        color: #353535;
    text-align: justify;
list-style-type: none;
    margin-left: -13px;}

.fa.fa-circle {
    margin-right: 7px;
    font-size: 8px;
    color: #f11b25;
    float: left;
    margin-top: 9px;
    margin-left: -25px;
}

.about-text h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 31px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #585858;
}

.download {
    text-align: center;
    margin-top: 25px;
} 
.download img {
    padding-left: 22px;
}


.cotact-text {
    margin-left: -10px;
    margin-bottom: 26px;
}
.thank-text P {
    font-size: 14px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin-top: 17px;
    color: #6d6d6d;
}

.contact-icon {
    margin-top: 22px;
}

.contact-icon i.fa.fa-map-marker {
    color: #fff;
    font-size: 24px;
    float: left;
    margin-right: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    height: 50px;
    width: 50px;
    background: #f11b25;
    border-radius: 50%;
    text-align: center;
    padding-top: 14px;
    margin-top: 0px;
    margin-left: 0px;
}

.contact-icon h3 {
    font-size: 14px;
    padding-left: 44px;
    padding-top: 10px;
    font-weight: 500;
    color: #6d6d6d;
    line-height: 17px;
}

.contact-icon2 {
    margin-top: 49px;
}

.contact-icon2 i.fa.fa-phone {
    color: #fff;
    font-size: 24px;
    float: left;
    margin-right: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    height: 50px;
    width: 50px;
        background: #f11b25;
    border-radius: 50%;
    text-align: center;
    padding-top: 14px;
    margin-top: 0px;
    margin-left: 0px;
}

.contact-icon i.fa.fa-map-marker:hover {
    background: #333;
}

.contact-icon2 i.fa.fa-phone:hover {
    background: #333;
}

.contact-icon3 i.fa.fa-envelope-o:hover {
    background: #333;
}

.contact-icon2 h3 {
    font-size: 14px;
    text-align: unset;
    padding-left: 44px;
    padding-top: 18px;
    font-weight: 500;
}

.contact-icon2 h3 a {
    text-decoration: none;
    color: #6d6d6d;
}

.contact-icon2 h3 a:hover {
    color: #f11b25;
}


.contact-icon3 {
    margin-top: 49px;
}

.contact-icon3 i.fa.fa-envelope-o {
    color: #fff;
    font-size: 24px;
    float: left;
    margin-right: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    height: 50px;
    width: 50px;
        background: #f11b25;
    border-radius: 50%;
    text-align: center;
    padding-top: 14px;
    margin-top: 0px;
    margin-left: 0px;
}

.contact-icon3 h3 {
    font-size: 14px;
    text-align: unset;
    padding-left: 44px;
    padding-top: 18px;
    font-weight: 500;
    color: #6d6d6d;
}

.contact-icon3 h3 a {
    text-decoration: none;
    color: #6d6d6d;
}

.contact-icon3 h3 a:hover {
    color: #f11b25;
}
.map1{margin-top: 10px;
margin-bottom: 10px;}

.headeing {
    padding-bottom: 15px;
}

.headeing h2 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 13px;
    color: #222;
    text-transform: capitalize;
    margin-left: 17px;
}

.l-left {
    margin: 0;
    margin-left: 18px !important;
}
.b-line {
    position: relative;
    width: 110px;
    height: 2px;
    background: #f11b25;
    display: block;
    margin: 0 auto;
}

.contact-form input[type="text"] {
    display: block;
    height: 46px;
    margin-bottom: 32px;
    width: 100%;
    font-size: 14px;
    padding: 0 15px;
        border: 1px solid #bdb8b8;
    color: #878787;
    background: transparent;
    -webkit-appearance: none;
    border-radius: 0;
}

.contact-form textarea {
    padding-left: 18px;
        border: 1px solid #bdb8b8;
    color: #878787;
    margin-bottom: 13px;
    font-size: 14px;
    padding-top: 10px;
    height: 202px;
}

.form-full {
    width: 100%;
}

.contact-form input[type="text"]:focus, .contact-form textarea:focus {
    border: 1px solid #daa106 !important;
}

.per {
    width: 100%;
    height: 46px;
    border: 1px solid #bdb8b8;
    color: #878787;
    margin-bottom: 32px;
}

.form-area3 {
    margin: 10px 0 0;
}
.form-txt2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.feedback-checkbox {
    width: 32px;
    height: 29px;
    float: left;
}

.check-box h3 {
    font-size: 16px;
    margin-top: 10px;
    color: #878787;
   
}

.main-box {
    display: block;
    height: 46px;
    margin-bottom: 31px;
    font-size: 14px;
        border: 1px solid #bdb8b8;
    color: #878787;
    background: transparent;
    -webkit-appearance: none;
    border-radius: 0;
    padding-top: 4px;
}

.main-box2 {
    display: block;
    height: 90px;
    margin-bottom: 31px;
    font-size: 14px;
        border: 1px solid #bdb8b8;
    color: #878787;
    background: transparent;
    -webkit-appearance: none;
    border-radius: 0;
    padding-top: 4px;
}

.btn-text {
    font-size: 14px;
    color: #fff !important;
    line-height: 44px;
    padding: 0 22px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #f11b25;
    border: none;
    height: 44px;
    text-align: center;
    transition: all 0.2s linear 0s;
    position: relative;
    z-index: 2;
    font-family: 'fallingsky', sans-serif;
}
.btn-text:hover:before {
    transform: scaleX(1);
    opacity: 1;
}

.btn-text:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #28303b;
    content: "";
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.2s linear 0s;
}
.mt-30 {
    margin-top: 1px;
    margin-bottom: 20px;
}   
/* responsive */

@media (max-width:1024px){

  .inner-text p {  
    line-height: 36px;
    font-size: 15px;
}

.inner-text1 p {
    line-height: 20px;
    font-size: 13px !important;
}
.basic-border2 h3 {
    font-size: 11px;
}

.page-title h1 {
    font-size: 25px;
    margin-top: 46px;
}
.service-box p {
    font-size: 11px !important;
}

.z-100-text p {
    margin-top: 8px !important;
    line-height: 31px !important;
    font-size: 15px !important;

}
} 
@media (max-width:980px){
.map {
    margin-top: 40px;
    margin-bottom: 20px;
}
.per {
    margin-bottom: 30px;
}
.main-box {
    height: auto;}

.main-box2 {
    height: auto;}
.service-box p {
    font-size: 13px !important;
}
}
@media (max-width:650px){
.download img {
    margin-top: 20px;
    padding-left: 0px;

}
}
@media (max-width:320px){
.contact-icon h3 {
    font-size: 13px;
}
.contact-icon3 h3 {
    font-size: 13px;
    padding-left: 64px;
}
} 

.inner-icon-1 {
       margin-top: 32px;
    margin-bottom: 24px;
    text-align: center;
}

.inner-icon-1 h3 {
    font-family: 'Poppins', sans-serif !important;
        color: #f11b25;
    font-weight: 600;
    font-size: 19px;
}

.inner-icon-1 p {
    font-family: 'Poppins', sans-serif !important;
    color: #868686;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.test-drive h3 {
       margin-top: 18px;
    font-family: 'Poppins', sans-serif !important;
    color: #464646;
    font-weight: 600;
    font-size: 36px;
       margin-bottom: 16px;
        text-transform: capitalize;
}

.test-drive h4 {
    font-family: 'Poppins', sans-serif !important;
    color: #f11b25;
    font-weight: normal;
    font-size: 21px;
        margin-bottom: 9px;
}

.test-drive p {
    font-family: 'Poppins', sans-serif;
    color: #757474;
    font-weight: normal;
    line-height: 37px;
    text-align: justify;
    font-size: 17px;
    margin-bottom: 33px;
    text-transform: capitalize;
}


.inner-text1 p {
    /* margin-top: 2px; */
    font-family: 'Poppins', sans-serif;
    color: #757474;
    font-weight: normal;
    /* line-height: 21px; */
    text-align: justify;
    font-size: 14px;
}

.inner-text1 h3 {
    margin-top: 17px;
    font-family: 'Poppins', sans-serif !important;
    color: #f11b25;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.inner-text1 h4 {
    margin-top: 13px;
    font-family: 'Poppins', sans-serif !important;
    color: #757474;
    font-weight: 500;
    font-size: 17px;
}

.inner-text1 span {
    font-family: 'Poppins', sans-serif !important;
   color: #f11b25;
    font-weight: 600;
      font-size: 24px;
}

.inner-img1 img {
    float: right;
    height: 331px;
}

.inner-text1 h3 .red_box {
    background-color: #C7081B;
    width: 24px;
    height: 18px;
    display: inline-block;
    text-align: center;
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 4px;
    margin-top: -2px;
}

.inner-text1 h3 .red_box i {
    line-height: 18px;
    color: #FFF;
    vertical-align: text-top;
    padding-left: 1px;
    font-size: 18px;
    font-weight: 600;
}
.z-100-carousel {
    margin-top: 22px;
    margin-bottom: 36px;

}
.carousel {
    border: 2px solid #b9b9b9;
    border-radius: 10px;
}

.carousel-inner{
    border-radius: 10px;
}

.carousel-control.left{border-radius: 10px;
background-image: none !important;}

.carousel-control.right{border-radius: 10px;
background-image: none !important;}

.carousel-indicators li {
    background-color: #ffffff;
    border: 2px solid #f11b25;
    border-radius: 10px;

}
.carousel-indicators li {
    margin-bottom: -21px;
}

.carousel-indicators .active {
    margin-bottom: -21px;
}

.z-100-text h3 {
    margin-top: 19px;
    font-family: 'Poppins', sans-serif !important;
    color: #f11b25;
    font-weight: 600;
    font-size: 27px;
    text-transform: uppercase;
}

.z-100-text p {
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    color: #757474;
    font-weight: normal;
    line-height: 36px;
    text-align: justify;
    font-size: 17px;
}

.inner-features-1{
    background-color: #000;
    height: 150px;
}



.our-services {
    padding-bottom: 34px;
    padding-top: 26px;
}

.no-padding {
    padding: 0 !important;

}

.service-box {
    border: 1px solid #b9b9b9;
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 35px 40px;
    text-align: center;
    transition: all 0.3s ease 0s;
}


.service-box h4 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 22px;
      font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    color: #2b2b2b;
}

.service-box p{
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #8a8989;
    font-weight: 300;
    text-align:center;
}

.service-box:hover {
    background: #f9f9f9;
}

.thanks h4{
    
    margin-top: 98px;
    text-align: center;
    color: #dd1a2a;
    font-size: 29px;
    font-weight: 500;
margin-bottom: 80px;
}

.web p {
    font-family: 'fallingsky', sans-serif;
    color: #0c0c0c;
    font-size: 14px;
    font-weight: 300;
    margin-top: 14px;
    float: right;
}

.web p a {
    font-family: 'fallingsky', sans-serif;
    color: #f11b25;
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    text-decoration: none;
}