html , * {
    margin:0px;
    padding: 0px;
    scroll-behavior: smooth;
    
}
.banner img{
   width: 100%;
}

h1, h2, h3, h4, h5 ,h6 , p ,a  {
    font-family: 'Poppins', sans-serif;
}
a:hover {
    text-decoration: none;
}

/* navigation bar */

/* starting hoverNav */
.row{margin:0 auto !important;
    padding:0px !important;}

.second-header{
    width: 100%;
    position: absolute;
    background: white;
    padding: 0 50px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    top: 0px;
    z-index: 1000;
    /* height: 100px; */
    /* line-height: 80px; */
}
.second-header img {
    float: left;
    /* margin: -21px 0 8px 0; */
    position: relative;
    top: -5px;
}



nav {
    position: relative;
    float: right;
    font-size: 15px;
    font-weight: 700;
    font-family: 'fallingsky', sans-serif;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;

}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    padding: 42px 10px; 
    font-weight: 600;
    margin-left: 15px;
    
}
nav ul li ul {
    border-top: 2px solid #666666;
    display: block;
    background:white;
    min-width:250px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    transform:  translateY(40px);
}

nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform:  translateY(0px);
}
nav ul li ul li a  {
    padding:10px ;
    font-weight: 400;
    /* border-bottom: 1px dashed #666666; */
    color: #666666;  
    font-size: 12px;
}

nav ul li a:hover {
    /* background: #184771; */
    color: #CB0236;
    text-decoration: none;
    transition: .5s ease;
}
.manu-toggle{
    float: right;
    line-height: 80px;
    font-size: 18px;
    display: none;
    color :red;
}


@media(max-width:991px){
    .second-header {
        padding: 0 0px;
       /* position: absolute;
       top: 100px; */
    }
    .manu-toggle {
        display: block;
        /* position: relative;
        left: -44%; */
    }
    .second-header nav {

        position: absolute;
        width: 100%;
        height:108vh;
        background: #012653;
        top: 80px;
        left: -100%;
        transition: 0.5s;
    }
    .second-header nav.active {
        left: 0;
    }
    .second-header nav ul {
        display: block;
        text-align: center;

    }
    .second-header nav ul li a{
        border-bottom: .1px solid #ddd;
        color: white;
    }
}

.logo-img {
    margin-top: 10px;
}
/* ending hoverNav */


/* header section */

  
    main  {
     
        width: 100%;
        height: 100vh;
    }

    .img-wraper{
        width: 100%;
        height: 100vh;
        position: relative;
  
    }

    .hero-content{
        /* border-bottom: 2px solid white; */
        position: absolute;
        top: 35%;
        right: 10%;
    }
    .hero-heading{
        color: white;
        font-size: 75px;
        font-weight: bolder;
        text-align: right;
        text-transform: uppercase;

    }
    .hero-para {
        
        color: white;
        letter-spacing: 15px;
        float: right;
    }
/* ending header */


/* staring about-section */
#about-us {
    /* border: 1px solid blue; */
    position: relative;
    /* padding-top: 0px; */
    padding-bottom: 120px;
}
.about-heading {
    /* border: 1px solid red; */
    margin-top: 65px;
    
}
.about-heading h3{
    font-weight: bold;
    text-transform: uppercase;

    
}

.about-heading-back{
    /* border: 1px solid orange; */
    padding: 10px 0 10px 0;
    position:absolute;
    top: 0px;
    margin-left: -30px ;

}
.about-heading-back h3 {
    font-size: 85px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: rgba(0, 0, 0, 0.12);
    
}


.about-para{
    margin: 50px 0 0 0;
    padding: 60px 30px 60px 30px;
    line-height: 25px;
}

.img-container{
    /* background: purple; */
    /* border: 15px solid #283040; */
    /* border: 15px solid rgba(246, 142, 104,0.7); */
    border: 15px solid #012653;
    text-align: center;
    position:absolute;
    height: 287px;
    left: 25%;
    width: 50%;
    margin-top: 70px;
}

.img-box{
    /* border: 1px solid yellow; */
    width: 110%;
    height: 50%;
    top: -15%;
    position: absolute;
    left: -15%;

}   
.about-img{
    /* border: 1px solid brown; */
    position: relative;

}
/* ending about-section */

/* starting goals */
    #goals {
        padding: 80px 0 50px 0;
        /* border: 1px solid blue; */
        box-sizing: border-box;
        height: 50%;
        /* background: #dfe6e9; */
        /* background-color: #CB0236; */
        background-color: #012653;
        margin-top: 30px;
    }
    .goal-content{
      
        /* border: 1px solid red; */
        height: 220px;

    }
    .goal-content h3{
        font-weight:bold;
        text-transform: uppercase;
        color: whitesmoke;
    }
    

    .goal-para {
        padding: 20px 20px 20px 0px;
        line-height: 25px;
        color: whitesmoke;
    }

    
/* ending gaols */

/* services */
#service {
    padding-top: 65px; 
    padding-bottom: 60px;
    /* border: 1px solid red; */
}
.service-heading-back{
        /* border: 1px solid orange; */
        padding: 10px 0 10px 0;
        position:absolute;
        top: -40px;
        margin-left: -30px ;
        z-index: 1;
    }
    .service-heading h3{
        font-weight: bold;
        text-transform: uppercase;
    
        
    }
    .service-heading-back h3 {
        font-size: 85px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: rgba(0, 0, 0, 0.12);
        z-index: -1;
        
    }


        
    /* overlay */
    .overlay-section{
        margin-top: 50px;
    }
    .image {
        display: block;
        width: 100%;
        height: 100%;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        /* background-color: rgba(150, 0, 0 , 1); */
        /* background-color: coral; */
        background-color: #CB0236;
        
        
        /* margin: 20px; */
      }
      
      .box-1:hover .overlay,.box-2:hover .overlay,.box-3:hover .overlay {
        /* background-image: url(../images/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(50%); */
        opacity: 1;
      }
      
      .text {
        color: white;
        font-size: 13px;
        padding: 0 15px 0 15px;
       
      }

    /* ending overlay  */

/* ending serivce */

/* projects */

#project{
    /* border: 1px solid red;  */
    width: 100%;
    height: 100%;
}

.collage-row{
    display: flex;
    flex-wrap: wrap;

}
.img-card1 {
    width: 100%;
    height: 100%;
}

.col-img1 {
    height: 700px;
}
/* .img-card1,.img-card2,.img-card3{
    flex: 25%;
    max-width: 25%;
} */
.img-card1 img,.img-card2 img,.img-card3 img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.project-heading-back{
    /* border: 1px solid orange; */
    padding: 10px 0 10px 0;
    position:absolute;
    top: -40px;
    margin-left: -30px ;
    z-index: 1;
    
}
.project-heading h3{
    font-weight: bold;
    text-transform: uppercase;

    
}
.project-heading-back h3 {
    font-size: 85px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: rgba(0, 0, 0, 0.12);
    z-index: -1;
    
    
}

.img-card2 {
    width: 100%;
    height: 300px;
}

/* collage row */

.collage-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    /* padding: 0 4px 10px -50px; */
    /* border: 1px solid red; */
    
  }
  
  /* Create four equal columns that sits next to each other */
  .collage-wrapper{
      margin-top: 40px;
  }
  
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
    /* border: 1px solid blue; */

  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    
  }
  
  .block-2 {
      height: 400px;
  }
  .block-5 {
      height: 200px;
  }
  .block-1,.block-4,.block-3,.block-6{
      height: 300px;
      width: 100%;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
/* ending collage row */

/* ending projects */

/*****FOOTER******/

.footer {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: hard-light;
    padding-top: 30px;
    padding-bottom: 15px;
    /* background-color: #333; */
    background-color: #012653;
}
.footer-contact h3 {
    color: #fff;
    /* color: #333; */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0px;
}
.main-link h3 {
    color: #fff;
    /* color: #333; */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0px;
}
.line-1 {
    width: 25px;
    background-color: #cb0235;
    height: 2px;
    margin-top: 0px;
}
.line-2 {
    width: 25px;
    background-color: #cb0235;
    height: 2px;
    margin-top: -2px;
    margin-left: 30px;
}
.line-3 {
    width: 25px;
    background-color: #29354f;
    height: 2px;
    margin-top: 0px;
}
.line-4 {
    width: 25px;
    background-color: #29354f;
    height: 2px;
    margin-top: -2px;
    margin-left: 30px;
}

.footer-link {
    margin-top: 18px;
    padding-left: 0px;
}
.footer-link li {
    list-style-type: none;
    /* border-bottom: 1px dashed rgba(158, 158, 158, 0.54); */
    line-height: 31px;
}
.footer-link li a {
    color: #fff;
    /* color: #333; */
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 33px;
}
.footer-link li a:hover{
    text-decoration: none;
    color: #cb0235;
    
}
.footer-contact i.fa-map-marker {
    font-size: 25px;
    color: #fff;
    /* color: #333; */
    float: left;
    margin-top: 27px;
}
.footer-contact h4 {
    color: #fff;
    /* color: #333; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 23px;
    margin-left: 49px;
    line-height: 22px;
}
.footer-contact i.fa-phone {
    font-size: 23px;
    color: #fff;
    /* color: #333; */
    float: left;
    margin-top: 15px;
}
i.fa-envelope {
    font-size: 18px;
    color: #fff;
    /* color: #333; */
    float: left;
    margin-top: 15px;
}
.footer-contact h4 a {
    color: #fff;
    /* color: #333; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 23px;
    line-height: 22px;
    text-decoration: none;
}
.map-icon {
    margin-top: 28px;
}

.copy-text h3 {
    font-family: 'Poppins', sans-serif;

    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}
.icon-2 img {
    margin-top: 15px;
    float: right;
}
.copy-text h3 span {
    color: #e51f26;
    font-weight: 600;
}
.footer-line {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}

.copyright{


    border-top:1px solid #333;
    padding-top: 20px;
    margin-top: 10px;
}
/* ending footer */

/********OUR-BUSINESS-RELATION*******/

.relation {
    height: 280px;
    /* background: url(../images/relation-bg.jpg); */
    background-size: cover;

}
.relation h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: #ca0235;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.relation1 {
    text-align: center;
    margin-top: 40px;
}

.business-heading{
    margin-top: 70px;
}

.border {
    /* background-color: #fff; */
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 8px;
}
.relation1 h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #5d5d5d;
    margin-top: 10px;
}
.relation1 h4 img {
    width: 22px;
    margin-top: -5px;
    margin-right: 6px;
}